Dette er en automatisk utsendt epost.

Oppgaven du leverte til oppgaven "$assignment" i kurset $coursename har blitt vurdert.

Vurdering: $grade

Kommentar: $gradecomment

Se vedlegg for mer informasjon.
