jdbc.deliverandum.driverClassName=org.postgresql.Driver
jdbc.deliverandum.url=jdbc:postgresql://localhost:5432/deliverandum
jdbc.deliverandum.username=bob
jdbc.deliverandum.password=bob
jdbc.webucator.driverClassName=org.postgresql.Driver
jdbc.webucator.url=jdbc:postgresql://localhost:5432/webucator
jdbc.webucator.username=bob
jdbc.webucator.password=bob
email.host=smtp.foo.bar
email.from=bob@foo.bar
app.courseNames=inf100-f:1,inf101-f:2
app.admins=ola001
app.filedir=/var/deliverandum_files
